<form action="/posts/<%= @post2.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <h2>Name: </label><input type="text" id="name" name="name"></h2><br>
    <h2>Content: </label><input type="text" id="content" name="content"></h2><br>
    <input type="submit" value="submit">
</form>
