<form action="/posts/<%= @post2.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <input type="text" <%= @post2.name %><%= @post2.content %>>
    <input type="submit" value="submit">
</form>

<p><%= @post2.name %></p>
